/*stylesheet for the coming soon landing page*/

body {
  background-color: #17181c;
}

#scattercloud {
  text-align: center;
  vertical-align: center;
  font-size: 10vw;
  color: #e8e8e8;
}

#comingsoon {
  text-align: center;
  font-size:7vw;
  color: #5478d3;
}
