/*stylesheet for the coming soon landing page*/

body {
  background-color: #17181c;
}

#scattercloud {
  text-align: center;
  vertical-align: center;
  font-size: 10vw;
  color: #e8e8e8;
}

#comingsoon {
  text-align: center;
  font-size: 4vw;
  color: #5478d3;
  transform: scale(1, 0.5);
  -webkit-transform: scale(1, 0.5); /* Safari and Chrome */
  -moz-transform: scale(1, 0.5); /* Firefox */
  -ms-transform: scale(1, 0.5); /* IE 9+ */
  -o-transform: scale(1, 0.5); /* Opera */
  letter-spacing: 1.5vw;
}
